<a href="https://colab.research.google.com/github/vishwatheerthala/AI/blob/main/Assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_excel('assign4.xls')

*** No CODEPAGE record, no encoding_override: will use 'ascii'

In [ ]:
data

      X    Y
0   7.6  157
1   7.1  174
2   8.2  175
3   7.5  188
4   7.4  171
5   7.8  143
6   7.3  217
7   8.0  190
8   7.1  142
9   7.5  190
10  8.1  215
11  7.0  199
12  7.3  262
13  7.8  105
14  7.3  121
15  8.0   81
16  8.5   82
17  7.1  210
18  8.2  202
19  7.9  155
20  7.6  157
21  8.8  147
22  7.2  133
23  7.9   53
24  8.1   56
25  7.7  113
26  8.4   35
27  7.4  125
28  7.3   76
29  8.5   48
30  7.8  147
31  6.7  117
32  7.1  182
33  7.3   87

In [ ]:
maxX=np.max(data['X'])
maxY=np.max(data['Y'])
minX=np.min(data['X'])
minY=np.min(data['Y'])

In [ ]:
normalized_x=[]
for i in range(data.shape[0]):
    normalized_x.append((data['X'][i]-minX)/(maxX-minX))

In [ ]:
normalized_y=[]
for i in range(data.shape[0]):
    normalized_y.append((data['Y'][i]-minY)/(maxY-minY))

In [ ]:
data['X']=normalized_x
data['Y']=normalized_y

In [ ]:
data

           X         Y
0   0.428571  0.537445
1   0.190476  0.612335
2   0.714286  0.616740
3   0.380952  0.674009
4   0.333333  0.599119
5   0.523810  0.475771
6   0.285714  0.801762
7   0.619048  0.682819
8   0.190476  0.471366
9   0.380952  0.682819
10  0.666667  0.792952
11  0.142857  0.722467
12  0.285714  1.000000
13  0.523810  0.308370
14  0.285714  0.378855
15  0.619048  0.202643
16  0.857143  0.207048
17  0.190476  0.770925
18  0.714286  0.735683
19  0.571429  0.528634
20  0.428571  0.537445
21  1.000000  0.493392
22  0.238095  0.431718
23  0.571429  0.079295
24  0.666667  0.092511
25  0.476190  0.343612
26  0.809524  0.000000
27  0.333333  0.396476
28  0.285714  0.180617
29  0.857143  0.057269
30  0.523810  0.493392
31  0.000000  0.361233
32  0.190476  0.647577
33  0.285714  0.229075

In [ ]:
from sklearn.model_selection import train_test_split
x=data['X']
y=data['Y']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=10)

In [ ]:
def gradient(m1,m2,c,x,y):
    m1_deriv=-1*(y-m1*x*x-m2*x-c)*x*x
    m2_deriv=-1*(y-m1*x*x-m2*x-c)*x
    c_deriv=-1*(y-m1*x*x-m2*x-c)
    return m1_deriv,m2_deriv,c_deriv

m1=np.random.uniform(-10,10)
m2=np.random.uniform(-10,10)
c=np.random.uniform(-10,10)
eta=0.5
max_iter=1000

for iter in range(max_iter):
    for sample in range(x_train.shape[0]):
        delm1,delm2,delc=gradient(m1, m2, c, x_train.iloc[sample], y_train.iloc[sample])
        m1=m1-eta*delm1
        m2=m2-eta*delm2
        c=c-eta*delc
print('model parameterS m1, m2 and c',m1,m2,c)

model parameterS m1, m2 and c -0.5627494471328262 0.18373456497313254 0.5664752247124054

In [ ]:
y_pred_train = []
for i in x_train:
    y_pred = m1*i*i + m2*i + c
    y_pred_train.append(y_pred)
y_pred_train = np.array(y_pred_train)

In [ ]:
y_pred_test = []
for i in x_test:
    y_pred = m1*i*i + m2*i + c
    y_pred_test.append(y_pred)
y_pred_test = np.array(y_pred_test)

In [ ]:
y_train_denorm=[]
y_train_pred_denorm=[]
for i in range(y_train.shape[0]):
    y_train_denorm.append(y_train.iloc[i]*(maxY-minY)+minY)
    y_train_pred_denorm.append(y_pred_train[i]*(maxY-minY)+minY)
y_pred_train=y_train_pred_denorm
y_train=y_train_denorm

In [ ]:
y_test_denorm=[]
y_test_pred_denorm=[]
for i in range(y_test.shape[0]):
    y_test_denorm.append(y_test.iloc[i]*(maxY-minY)+minY)
    y_test_pred_denorm.append(y_pred_test[i]*(maxY-minY)+minY)
y_pred_test=y_test_pred_denorm
y_test=y_test_denorm

In [ ]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 50.84028304059249
Mean square error 2584.7343796475566
Mean absolute error 42.04309947898483

In [ ]:
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 59.88977842373794
Mean square error 3586.7855596444265
Mean absolute error 55.58216475556287